{% extends 'base.html' %}
{% load static %}


{% block title %}Progression{% endblock title %}

{% block content %}
    <div class="container px-md-5 px-3">
        <div class="bg-light rounded-3 py-md-5 py-4 px-md-5 px-4">
            <div class="">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 custom-border">
                        <div class="mb-5">
                            <h1 class="fw-bolder">Progression</h1>
                            <p class="lead fw-normal text-muted mb-3">Keep track of your progression for each exercise with the progression index and progression of time measures</p>
                            <form id="answer-form" method="post" name="testform" action="{% url 'plot' %}" >
                                {% csrf_token %}
                                <div class="row align-items-center mb-4 justify-content-between">
                                    <div class="col-12 col-sm-5 ">
                                        <div class="mb-2 mb-sm-0">
    
                                            <select class="exercise-dropdown form-select" id="exercise-dropdown" name="exercise" class="form-select" required>
                                                <option value=""> None </option>
                                                {% for exercise in exercises %}
                                                <option value="{{ exercise }}">{{ exercise }}</option>
                                                {% endfor %}
                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 col-sm-5 d-flex-end gap-4 ">
                                        <select class="exercise-dropdown form-select" id="exercise-dropdown1" name="progression" class="form-select" required>
                                            <option value="Progression Index"> Progression Index </option>
                                            <option value="Progression Over Time"> Progression Over Time </option>
    
                                        </select>
                                    </div>
                                    <div class="col-4 col-sm-2 d-flex justify-content-end">
                                        <div class="btn-container">
                                            <button type="submit" class="btn btn-primary">Show</button>
                                        </div>
    
                                    </div>
                                </div>
                            </form>
                            <div class="card mb-md-0 mb-4">
                                <div class="card-body p-1 p-md-2">
                                <canvas id="progressionChart"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-xl-6 mt-md-0 mt-2">
                        <div class="mb-4">
                            <h1 class="fw-bolder mt-4 mt-md-2">PRs</h1>
                            <p class="lead fw-normal text-muted mb-3">First select an exercise and then select the number of reps to find your personal weight record over time</p>
                            <form id="answer-form1" method="post" name="testform" action="{% url 'plot_prs' %}" >
                                {% csrf_token %}
                                <div class="row align-items-center mb-4 justify-content-between">
                                    <div class="col-12 col-sm-5">
                                        <div class="mb-2 mb-sm-0">
                                            <select class="exercise-dropdown form-select" id="exercise-dropdown2" name="exercise" class="form-select" required>
                                                <option value="" aria-placeholder="Exercise"> None </option>
                                                {% for exercise in exercises1 %}
                                                <option value="{{ exercise }}">{{ exercise }}</option>
                                                {% endfor %}
    
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-8 col-sm-5">
                                        <!-- Reps Select (to be dynamically filled) -->
                                        <select class="rep-dropdown form-select" id="reps-dropdown" name="reps" required>
                                            <option value="">Select Reps</option>
                                            <!-- Options will be added here based on the selected exercise -->
                                        </select>
                                    </div>
                                    <div class="col-4 col-sm-2 d-flex justify-content-end">
                                        <div class="btn-container">
                                            <button type="submit" class="btn btn-primary">Show</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="card mb-5">
                                <div class="card-body p-1 p-md-2">
                                <canvas id="progressionChart1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-2">
                            <div class="card-body shadow">
                                <h1 class="fw-bolder">Add PR</h1>
                                <p class="lead fw-normal text-muted mb-3">Add a PR for a certain exercise </p>
                                <form id="prForm" method="post">
                                    {% csrf_token %}
                                    <div class="row align-items-center mb-4 g-2 justify-content-between">
                                        <div class="col-12 col-sm-4">
                                            <select class="exercise-dropdown form-select" id="exercise-dropdown4" name="exercise" class="form-select" required>
                                                <option value="" aria-placeholder="Exercise"> None </option>
                                                {% for custom_exercise in all_custom_exercises %}
                                                <option value="{{ custom_exercise.name }}">{{ custom_exercise.name }}</option>
                                                {% endfor %}
                                                {% for exercise in all_exercises %}
                                                <option value="{{ exercise.name }}">{{ exercise.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="col-6 col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-text">Reps</span>
                                                <input type="number" name="reps" class="form-control" id="id_reps" placeholder="0" required>
                                            </div>
        
                                        </div>
                                        <div class="col-6 col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-text d-md-none rounded-left">Wt</span>
                                                <span class="input-group-text d-none d-md-inline rounded-left">Weight</span>
        
                                                <input type="text" name="weight" class="form-control" id="id_weight" placeholder="0.0" required>
                                            </div>
                                        </div>
                                        <div class="col-8 col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-text">Date</span>
                                                <input type="date" name="date" class="form-control" id="id_date" required>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="btn-container">
                                                <button type="submit" class="btn btn-sm btn-primary d-none d-md-inline">Add PR</button>
                                                <button type="submit" class="btn btn-primary d-md-none">Add</button>
                                            </div>
                                        </div>
                                    </div>
        
        
        
                                </form>
                            </div>

                        </div>

                        


                    </div>
                </div>
                <style>
                    /* Override Select2 styling */
                    /* Custom styles for Select2 to match Bootstrap, with responsiveness in mind */
                    .select2-container .select2-selection--single {
                        height: calc(2.25rem + 2px);
                        padding: .375rem 1.75rem .375rem .1rem;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    }
                    .select2-container .select2-selection--single .select2-selection__arrow {
                            right: .375rem;
                            top: 0.375rem
                    }
                    .select2-container--default .select2-results__option {
                        line-height: 24px; /* Adjust the value as needed */
                    }
                    
                    .select2-container--default .select2-selection--single .select2-selection__rendered {
                        line-height: 24px; /* Adjust for the selected item */
                    }

            
                    @media (max-width: 768px) {
                        .select2-container .select2-selection--single {
                            padding: .375rem .1rem;
                        }
                        .select2-container .select2-selection--single .select2-selection__arrow {
                            right: .375rem;
                            top: 0.375rem
                        }
                        .chartContainer {
                            width: calc(316/412*100vw);
                            height: calc(316/412*100vw);
                    }
                    }

                    .btn-container{
                        display: flex;
                        justify-content: flex-end;
                    }
                </style>
                <script>

                    $(document).ready(function() {
                        // Initialize Select2
                        $('.exercise-dropdown').select2({
                            width: '100%',
                            placeholder: 'Select an exercise',
                        });
                        $('.rep-dropdown').select2({
                            width: '100%',
                            placeholder: 'Select amount of reps',
                        });
                        function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                
                        const csrftoken = getCookie('csrftoken');

                        // AJAX form submission
                        $("#answer-form").submit(function(e) {
                            e.preventDefault(); // Prevent the default form submission
                            const formData = $(this).serialize(); // Serialize form data

                            $.ajax({
                                url: '{% url "plot" %}', // URL to your Django view that handles this form
                                type: 'POST',
                                data: formData,
                                dataType: 'json', // Assuming you're expecting a JSON response
                                    beforeSend: function(xhr) {
                                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                    },
                                    success: function(response) {
                                        if(response.success) {

                                            var progressionData = JSON.parse(response.context.progression_plot_data)
                                            updateChartWithData(progressionData)
                                            // Handle success (e.g., redirect or clear the form)
                                        } else {
                                            alert("Error: " + response.error);
                                            // Handle failure
                                        }
                                    },
                                    error: function(response) {
                                        // Handle AJAX error
                                        console.log(response.error);
                                    },

                            });
                        });
                        $('#exercise-dropdown2').change(function() {
                            var exerciseId = $(this).val();

                            $.ajax({
                                url: '{% url "show_reps" %}',
                                type: 'POST',
                                data: {'exercise': exerciseId},
                                dataType: 'json', // Assuming you're expecting a JSON response
                                    beforeSend: function(xhr) {
                                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                    },
                                    success: function(data) {
                                        var repsDropdown = $('#reps-dropdown');
                                        repsDropdown.empty(); // Clear existing options
                                        repsDropdown.append($('<option>').val('').text('Select Reps')); // Add default option

                                        // Populate reps dropdown with new options
                                        $.each(data.reps, function(index, rep) {
                                            repsDropdown.append($('<option>').val(rep).text(rep));
                                        });
                                    },
                                
                            });
                        });
                        $("#answer-form1").submit(function(e) {
                            e.preventDefault(); // Prevent the default form submission
                            const formData = $(this).serialize(); // Serialize form data
                            $.ajax({
                                url: '{% url "plot_prs" %}', // URL to your Django view that handles this form
                                type: 'POST',
                                data: formData,
                                dataType: 'json', // Assuming you're expecting a JSON response
                                    beforeSend: function(xhr) {
                                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                    },
                                    success: function(response) {
                                        if(response.success) {
                                            var prData = JSON.parse(response.context.pr_plot_data)
                                            updateChartWithData1(prData)
                                            // Handle success (e.g., redirect or clear the form)
                                        } else {
                                            alert("Error: " + response.error);
                                            // Handle failure
                                        }
                                    },
                                    error: function(response) {
                                        // Handle AJAX error
                                        console.log(response.error);
                                    },

                            });
                        });
                        $('#prForm').submit(function(e) {
                            e.preventDefault();  // Prevent default form submission
                            $.ajax({
                                type: "POST",
                                url: "{% url 'add_pr' %}",
                                data: $(this).serialize(),
                                dataType: "json",
                                success: function(response) {
                                    $('#prForm')[0].reset();  // Reset form fields
                                    window.location.reload();
                                    // Optionally update the UI here
                                },
                                error: function(xhr, errmsg, err) {
                                    console.log(xhr.status + ": " + xhr.responseText);  // Provide error in console
                                    // Handle form errors (e.g., show them to the user)
                                }
                            });
                        });
                    });


                    function updateChartWithData1(progressionData) {
                        // Assuming progressionData is an object with 'dates' and 'progression_indexes' arrays
                        const ctx = document.getElementById('progressionChart1').getContext('2d');
                        
                        // Check if the chart instance already exists
                        if (window.progressionChart1.data) {

                            // Update the existing chart data and re-render
                            window.progressionChart1.data.labels = progressionData.dates;
                            window.progressionChart1.data.datasets[0].data = progressionData.weight;
                            window.progressionChart1.update();
                        } else {
                            // If the chart doesn't exist, create a new instance
                            window.progressionChart1 = new Chart(ctx, {
                                type: 'line',  // Assuming a line chart, adjust as needed
                                data: {
                                    labels: progressionData.dates,  // x-axis labels (e.g., dates)
                                    datasets: [{
                                        label: 'Weight',  // Label for the dataset
                                        data: progressionData.weight,  // The actual data
                                        borderColor: 'rgb(75, 192, 192)',  // Line color
                                        tension: 0.1  // Line smoothness
                                    }]
                                },
                                options: {   
                                    responsive: true,
                                    maintainAspectRatio: true,
                                    aspectRatio: 1.2,
                                    scales: {
                                        x: {  // Use 'x' instead of 'xAxes' for Chart.js version 3+

                                            ticks: {
                                                autoSkip: true,
                                                maxTicksLimit: 20  // Limit the number of ticks on the x-axis
                                            }
                                        },
                                        y: {
                                            beginAtZero: true,
                                            title: {
                                                display: true,
                                                text: 'Weight (kg)'
                                            },

                                        }
                                    }
                                }
                            });
                        }
                    }
                    function updateChartWithData(progressionData) {
                        // Assuming progressionData is an object with 'dates' and 'progression_indexes' arrays
                        const ctx = document.getElementById('progressionChart').getContext('2d');
                        
                        // Check if the chart instance already exists
                        if (window.progressionChart.data) {

                            // Update the existing chart data and re-render
                            window.progressionChart.data.labels = progressionData.dates;
                            window.progressionChart.data.datasets[0].data = progressionData.progression_indexes;
                            window.progressionChart.update();
                        } else {
                            // If the chart doesn't exist, create a new instance
                            window.progressionChart = new Chart(ctx, {
                                type: 'line',  // Assuming a line chart, adjust as needed
                                data: {
                                    labels: progressionData.dates,  // x-axis labels (e.g., dates)
                                    datasets: [{
                                        label: 'Progression Index',  // Label for the dataset
                                        data: progressionData.progression_indexes,  // The actual data
                                        borderColor: 'rgb(75, 192, 192)',  // Line color
                                        tension: 0.1  // Line smoothness
                                    }]
                                },
                                options: {   
                                    responsive: true,
                                    maintainAspectRatio: true,
                                    aspectRatio: 1.2,
                                    scales: {
                                        x: {  // Use 'x' instead of 'xAxes' for Chart.js version 3+

                                            ticks: {
                                                autoSkip: true,
                                                maxTicksLimit: 20  // Limit the number of ticks on the x-axis
                                            }
                                        },
                                        y: {
                                            beginAtZero: true  // Start the y-axis from 0
                                        }
                                    }
                                }
                            });
                        }
                    }



                </script>
            </div>
        </div>
    </div>


{% endblock content %}

