{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="body_container">

        <div class="nav_bar">

            <h1>RoRoFit</h1>
        </div>
    
        <div class="login_container">
            
            {% if state %}
                <div class="form-structor">
    
                    <form method="post" class="signup">
                        {% csrf_token %}
                        <h2 class="form-title" id="signup">Sign up</h2>
                        <div class="form-holder">
                            <input type="text" class="input" placeholder="User Name" name="username" />
                            <input type="text" class="input" placeholder="Name" name="name" />
                            <input type="password" class="input" placeholder="Password" name="password" />
                        </div>
                        {% if error_sub %}
                            <p>{{ error_sub }}</p>
                        {% endif %}
                        <button class="submit-btn" name="signup">Sign up</button>
                    </form>

                    <form method="post", class="login slide-up">
                        {% csrf_token %}
                        <div class="center">
                            <h2 class="form-title" id="login">Log in</h2>
                            <div class="form-holder">
                                <input type="text" class="input" placeholder="User Name" name="username"/>
                                <input type="password" class="input" placeholder="Password" name="password"/>
                            </div>
                            {% if error_log %}
                                <p>{{ error_log }}</p>
                            {% endif %}
                            <button class="submit-btn" name="login">Log in</button>
                        </div>

                    </form>

                </div>
            {% else %}
                <div class="form-structor">
    
                    <form method="post" class="signup slide-up">
                        {% csrf_token %}
                        <h2 class="form-title" id="signup">Sign up</h2>
                        <div class="form-holder">
                            <input type="text" class="input" placeholder="User Name" name="username" />
                            <input type="text" class="input" placeholder="Name" name="name" />
                            <input type="password" class="input" placeholder="Password" name="password" />
                        </div>
                        <button class="submit-btn" name="signup">Sign up</button>
                    </form>

                    <form method="post", class="login">
                        {% csrf_token %}
                        <div class="center">
                            <h2 class="form-title" id="login">Log in</h2>
                            <div class="form-holder">
                                <input type="text" class="input" placeholder="User Name" name="username"/>
                                <input type="password" class="input" placeholder="Password" name="password"/>
                            </div>
                            {% if error_log %}
                                <p>{{ error_log }}</p>
                            {% endif %}
                            <button class="submit-btn" name="login">Log in</button>
                        </div>

                    </form>

                </div>
            {% endif %}
            <style>
                p{
                    color: red;
                    font-size: 10px;
                }
            </style>
        </div>
    </div>


    <script src="static/main.js"></script>
</body>
</html>

